.pull-display-container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.settings-pane {
  min-width: 300px;
  max-width: 300px;
  height: 100vh;
  overflow-y: scroll;
}

.collection-pane {
  flex: 1;
  display: flex;
  justify-content: space-between;
  height: min-content;
  max-height: 100vh;
}

